In [1]:
import pandas as pd
import numpy as np
import os
base_path = '/Users/freezylex/Documents/course_work/'

In [2]:
repo = pd.read_csv(os.path.join(base_path, 'data/raw_data/mosprime_all.csv'), header=1, sep=';', decimal=',')
repo.columns = ['Date', 'overnight_mosprime', '1W', '2W', '1M', '2M', '3M', '6M']
#repo.drop(columns=['unt'], inplace=True)
repo['Date'] = pd.to_datetime(repo['Date'], format='%d.%m.%Y')
repo = repo[::-1].reset_index(drop=True)
repo.dropna(inplace=True)
repo.head()

        Date  overnight_mosprime     1W     2W     1M     2M     3M     6M
0 2015-03-02               15.95  15.99  16.06  16.56  16.76  17.07  17.07
1 2015-03-03               15.96  15.98  16.06  16.55  16.76  17.06  17.09
2 2015-03-04               15.94  15.98  16.05  16.50  16.73  17.05  17.08
3 2015-03-05               16.00  15.97  16.04  16.48  16.70  17.03  17.06
4 2015-03-06               15.85  15.95  16.02  16.43  16.64  16.89  16.97

In [3]:
repo.to_excel(os.path.join(base_path, 'data/raw_data/rates_OTC_market/mosprime_all.xlsx'), 
                                    index=False)