In [1]:
import pandas as pd
import numpy as np
import os
base_path = '/Users/freezylex/Documents/course_work/'

In [2]:
repo = pd.read_csv(os.path.join(base_path, 'data/raw_data/roisfix.csv'), header=1, sep=';', decimal=',')
repo.columns = ['Date', '1W', '2W', '1M', '2M', '3M', '6M', '1Y', 'unt']
repo.drop(columns=['unt', '1Y'], inplace=True)
repo['Date'] = pd.to_datetime(repo['Date'], format='%d-%m-%Y')
repo = repo[::-1].reset_index(drop=True)
repo.dropna(inplace=True)
repo.head()

        Date     1W     2W     1M     2M     3M     6M
0 2015-03-02  15.52  15.63  15.20  14.88  14.70  14.48
1 2015-03-03  15.58  15.65  15.18  14.93  14.76  14.56
2 2015-03-04  15.53  15.59  15.10  14.86  14.76  14.56
3 2015-03-05  15.51  15.56  15.07  14.84  14.75  14.55
4 2015-03-06  15.51  15.56  15.06  14.84  14.74  14.54

In [3]:
repo.to_excel(os.path.join(base_path, 'data/raw_data/roisfix.xlsx'), 
                                    index=False)