In [4]:
import pandas as pd
import numpy as np
import os
base_path = '/Users/freezylex/Documents/course_work/'

In [5]:
repo = pd.read_csv(os.path.join(base_path, 'data/raw_data/rurepo.csv'), header=1, sep=';')
repo.columns = ['Date', 'overnight_rurepo', '1W', '2W', '1M']
repo['Date'] = pd.to_datetime(repo['Date'], format='%d.%m.%Y')
repo = repo[::-1].reset_index(drop=True)
repo.dropna(inplace=True)
repo['overnight_rurepo'] = repo['overnight_rurepo'].apply(lambda x: float(x.replace(',', '.')))
repo['1M'] = repo['1M'].apply(lambda x: float(x.replace(',', '.')))
repo['1W'] = repo['1W'].apply(lambda x: float(x.replace(',', '.')))
repo['2W'] = repo['2W'].apply(lambda x: float(x.replace(',', '.')))
repo.head()

        Date  overnight_rurepo     1W     2W     1M
0 2015-03-02             15.83  16.00  16.50  17.05
1 2015-03-03             15.88  16.08  16.55  17.05
2 2015-03-04             15.85  16.04  16.35  16.85
3 2015-03-05             15.88  16.07  16.35  16.80
4 2015-03-06             15.74  16.00  16.50  17.06

In [6]:
repo.to_excel(os.path.join(base_path, 'data/raw_data/rates_OTC_market/rurepo.xlsx'), 
                                    index=False)